<div class="flex flex-col gap-4 items-center">
  <div
    *ngFor="let label of labelService.listClassificationLabels; let i = index"
    class="flex flex-row gap-4 items-center"
  >
    <label [for]="label">Class {{ i }}:</label>
    <input
      pInputText
      [id]="label.label"
      aria-describedby="inputPath-help"
      [(ngModel)]="label.label"
    />
    <p-checkbox [(ngModel)]="label.isExclusive" [binary]="true"></p-checkbox>
  </div>
  <p class="flex gap-4 items-center">
    <p-button
      label="Add multiclass task"
      (click)="addMulticlassTask()"
    ></p-button>
    <p-button
      label="Add multilabel task"
      (click)="addMultiLabelTask()"
    ></p-button>
  </p>
</div>
