<p-dataView
[rows]="5"
[paginator]="true"
[lazy]="true"
[styleClass]="'h-80 overflow-scroll'"
[value]="(projectService.thumbnails$ | async) ?? []"
>
<ng-template let-thumbnails pTemplate="list">
    <ng-container *ngFor="let thumbnail of thumbnails; let first = first">
        <div class="flex flex-wrap p-2 align-items-center gap-3">
        <img [src]="thumbnail.thumbnailPath | async" [alt]="thumbnail.name" 
                    class="w-4rem shadow-2 flex-shrink-0 border-round" />
        <span>
            {{ thumbnail.name | async}}
        </span>
    </div>
    </ng-container>

</ng-template>
    
</p-dataView>  